extends /layout
block content
  a.btn(class='btn-primary btn-lg' href='/admin/section') 版块管理
  hr
  a.btn(class='btn-primary btn-lg' href='/admin/user') 用户管理
  hr
  a.btn(class='btn-primary btn-lg' href='/admin/post') 帖子管理
